body{
    background-color: grey;
}
#pageHeader {
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
}
.headerLogo{
    height: 50px;
}
.headerLogoNav {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
}

headerLogoNavStyle{
    width: 100px;
}
.container{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.headerLogoNav img{
    height: 50px;
    width: 50px;
    overflow: hidden;
    display: inline-block;
}

 #pageMain{
     display: inline-block;
     margin-top: -5px;
     background-color: white;

 }









