body{
    background-color: grey;
}
#pageHeader {
    margin-top: 5px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}
.headerLogo{
    height: 50px;
}
.headerLogoNav {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.headerLogoNavStyle{
    height: 100px;
    box-sizing: border-box;
}
.headerLogoNav img{
    height: 50px;
    width: 50px;
    overflow: hidden;
    display: inline-block;
}
.containerMain {
    margin: 0 auto;
    max-height: 500px;
    width: 100%;
    overflow: hidden;

}
imgProfile   img {
    height: 200px;
}






 #pageMain{

     height: 200px;
     background-color: white;

 }




}
.mainContainerImg{
    margin: 5px;
    height: 100px;
    box-sizing: border-box;
    overflow: hidden;
}






